body { 
    font-family: sans-serif;
}
p{
    font-size: 70%;
}
.key-dot{
display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
.county-name{
    margin: 0 !important;
}
#Container{
    width: 100%;
    position: relative;
}
#chart{
   float: left;
   margin: auto;
   /*display: inline-block;
    width: 650;
    height: 500;
    position: absolute;
    margin-right: 10px;
    padding-right: 10px;*/
}
.legend{
    /*margin-right: 20px;*/
    position: relative;
    z-index: -1;
}
.AC{ background: #ff4c4c;
}
.WC{ background: #339933;
}
.PGH{ background: steelblue;
}
